.titlu {
  font-family: sans-serif;
  font-size: 48px;
}

.ptext {
  margin: 60px;
}

.divtext {
  color: #e87121;
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;

  width: 806px;
  height: 292px;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  border-style: ridge;
}

.link{
    font-family: sans-serif;
    font-size: 22px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #e87121;
    border-color: #e87121;
    border-style: ridge;
    border-width: 1px;
    border-radius: 14px;
    margin:30px;
    padding:0px;
    width:470px;
    height:39px;
    
}