.titluclub{
    display:flex;
    justify-content: center;
    align-items: center;
}

.paragraph{
  font-family: sans-serif;
  font-size: 28px;
  text-align: center;

  width: 806px;
  height: 292px;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  border-style: ridge;

}
.chestii{
    display:flex;
    justify-content: center;
    align-items: center;    
}
.buton{
    margin:10px;
}
