.table {
  width: 80%;
  border-color: black;
  border-style: solid;
  table-layout: auto;
  margin-left: 100px;
  width:810px;
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    background-color: #E87121;
  }
th, td{
    width:15%;
}
.titluclub{
    margin-left: 23%;
}

.bigdiv{
    display:flex;
    justify-content: stretch;
    align-items: center;
    border-radius: 20px;
}

.butoane{
    margin:10px;
}
