.div{
    border-bottom-style: solid;
    border-bottom-color: black;
    
}

.p{
    color: #E87121;
    font-family: sans-serif;
    margin-right: 42rem;
    margin-left: 12rem;
    margin-bottom: 3rem;
    width: 25%;
}